services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "443:443"
    volumes:
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
  
  mariadb:
    build: ./requirements/mariadb
    ports:
      - "3306:3306"